body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
#t{
    font-size: xx-large;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
   
}
table{
    justify-content: center;
    display: flex;
    border-collapse:separate;
    border-spacing: 5px;
  
}
td{
    width: 75px;
    height: 75px;
    border: 2px gray solid;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    background-color: black;
   
}
#popup{
    height: 503px;
    width: 650px;
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(254, 253, 253, 0.2);
    position: fixed;
    top: 107px;
    left: 440px;
    z-index: 999;
    visibility: hidden;
    border: rgba(0, 0, 0, 0.2) 2px solid;
   
}
#verdict{
    justify-content: center;
    display: flex;
    padding-top: 35px;
    font-size: x-large;
    font-weight: bold;
}
#ok, #reset{
    height: 50px;
    width: 150px;
    background-color: darkgreen;
    border: rgba(0, 0, 0, 0.2) 2px solid;
    box-shadow: 0 5px 10px rgba(254, 253, 253, 0.2);
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    color: #272000;
    justify-self: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 2opx;
    display: flex;
}
#reset{
    background-color: black;
    height: 50px;
    width: 130px;
    border: gray 2px solid;
    box-shadow: 0 5px 10px rgba(250, 250, 250, 0.2);
    color: whitesmoke;
    font-weight: lighter;
    margin-top: 15px;

}
#GJ{
    height: 175px;
    width: 400px;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 75px;
}

address{
    margin-top: 30px;
    font-size: x-small;
    justify-content: center;
    display: flex;
}
input[type="text"]{
    background-color: black;
    width: 5px;
    border: none;

}
input[type="text"]:focus{
    outline: none;
    border: none;

}